<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link href="/css/layout.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon/favicon-96x96.png">
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.tailwindcss.com"></script>

    <title th:text="${title}"></title>
</head>