<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="/css/joke.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link rel="icon" href="/icons/favicon/favicon-96x96.png">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<header>헤더 공간</header>
    <main>
        <div class="joke">
            <div>
                <h1>오늘의 개-그</h1>
            </div>
            <div id="joke-container">
                <div class="question-wrap">
                    <span id="question"></span>
                    <span id="answer" style="display:none;"></span>
                </div>
                <button type="button" id="openAnswer" class="openAnswer">정답보기</button>
            </div>
        </div>
    </main>
</body>

<script src="/joke.js"></script>
</html>