<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{layout/header :: header('오늘의 개그')}"></th:block>
    <link href="/css/joke.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{layout/navbar :: navbar}"></nav>
    <main>
        <div class="mb-80">
             <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
                <div>
                    <h1 class="text-3xl font-bold underline">오늘의 개-그</h1>
                </div>
                <div id="joke-container">
                    <div class="question-wrap">
                        <span id="question"></span>
                        <span id="answer" style="display:none;"></span>
                    </div>
                    <button type="button" id="openAnswer" class="openAnswer text-2xl w-40 h-10 bg-cyan-700 text-white">정답보기</button>
                </div>
            <div class="text-center mt-10 flex justify-around">
<!--                <button>노잼</button>-->
<!--                <button>좀,,,재밌네~</button>-->
            </div>
        </div>
    </main>
</body>

<script src="/joke.js"></script>
<script src="/layout.js"></script>
</html>